:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
}

.slidev-layout {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

#slide-content {

  footer {
    @apply fixed h-4rem bottom-0 pl-10 pr-10;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 4rem;
  }
  #slideshow {
    min-height: calc(100% - 4rem);
    max-height: calc(100% - 4rem);
    height: calc(100% - 4rem);
    padding-bottom: 4rem;
  }
}




